<div id="<%= dom_id fine %>">
  <p>
    <strong>Member:</strong>
    <%= fine.member_id %>
  </p>

  <p>
    <strong>Fee type:</strong>
    <%= fine.fee_type_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= fine.status %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= fine.amount %>
  </p>

  <p>
    <strong>Paid date:</strong>
    <%= fine.paid_date %>
  </p>

</div>
