<div id="<%= dom_id member_weekly_collection %>">
  <p>
    <strong>Member:</strong>
    <%= member_weekly_collection.member_id %>
  </p>

  <p>
    <strong>Weekly collection:</strong>
    <%= member_weekly_collection.weekly_collection_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= member_weekly_collection.status %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= member_weekly_collection.amount %>
  </p>

  <p>
    <strong>Paid date:</strong>
    <%= member_weekly_collection.paid_date %>
  </p>

</div>
