<p style="color: green"><%= notice %></p>

<h1>Expenses</h1>

<div id="expenses">
  <table class="table table-striped table-bordered">
    <thead>
      <th>Member</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Date</th>
    </thead>
    <tbody>
        <% @expenses.each do |expense| %>
          <tr>
            <td><%= expense.member_name %></td>
            <td><%= expense.description %></td>
            <td><%= expense.amount %></td>
            <td><%= expense.created_at %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>


<%= link_to "New expense", new_expense_path %>
