<div id="<%= dom_id member %>">
  <p>
    <strong>First name:</strong>
    <%= member.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= member.last_name %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= member.birthday %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= member.active %>
  </p>

  <p>
    <strong>Enabled to pay:</strong>
    <%= member.enabled_to_pay %>
  </p>

</div>
