<tr id="<%= dom_id member %>">
  <td><%= member.first_name %></td>
  <td><%= member.last_name %></td>
  <td><%= member.birthday %></td>
  <td><%= member.active %></td>
  <td><%= member.enabled_to_pay %></td>
  <td><%= link_to "Show this member", member %></td>
</tr>

